{% extends 'main_app/index.html' %}
{% load static %}

{% block style %}
<style>
    #intro {
        text-align: center;
        min-height: 50vh;
        background: url("{% static 'main_app/images/library-blur.jpeg' %}");
        background-size: cover;
        background-position: center center;
        color: #000000;
        padding: 18px 12px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #total-info {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<div id="intro" class="container-fluid">
    <h1 class="mt-3">Online Library Management System</h1>
    <h4 class="mt-3">Discover The best Books Around</h4>

    <div id="frontbtn" class="container-fluid mt-4 d-flex justify-content-center">
        <div class="mx-3">
            <button type="button" class="btn-dark rounded my-2"><a class="text-white"
                    href="{% url 'allAuthors' %}">Browse
                    Author</a></button>
            <button type="button" class="btn-dark rounded my-2"><a class="text-white" 
                    href="{% url 'allBooks' %}">Browse Books</a></button>
            
        </div>
        <div class="mx-3">
            {% if user.is_authenticated %}
            {% if user.profile.user_type == "Librarian" or user.profile.user_type == "Admin" %}
                <button type="button" class="btn-dark rounded my-2">
                    <a class="text-white" href="{% url 'addAuthor' %}">Add Author</a>
                </button>
                <button type="button" class="btn-dark rounded my-2">
                    <a class="text-white" href="{% url 'addBook' %}">Add Book</a>
                </button>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div id="total-info" class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-4 m-2">
            <div class="card card-sm bg-info">
                <div class="card-header text-center">Total Books</div>
                <div class="card-text text-center p-2"><span id="book-no">{{ total_book }}</span></div>
            </div>
        </div>

        <div class="col-lg-4 m-2">
            <div class="card card-sm bg-info">
                <div class="card-header text-center">Total Authors</div>
                <div class="card-text text-center p-2"><span id="book-no">{{ total_author }}</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}