{% extends 'user_accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login-content" class="container outer-content">
    <div class="inner-content">
        <div class="form-content ">
            <form id="register-form" method="POST">
                <legend>Password Reset Complete</legend>
                <h3>Your password has been reset successfully!</h3>
                <p>Need to log in? <a href="{% url 'login' %}">Log in</a></p>
                <!-- <input type="submit" value="Send Mail" class="btn btn-md btn-success"> -->
            </form>
        </div>
        
    </div>
</div>
{% endblock %}