{% extends 'user_accounts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login-content" class="container outer-content">
    <div class="inner-content">
        <div class="form-content ">
            <form id="register-form" method="POST">
                <legend>Enter new password</legend>
                {% csrf_token %}
                {{ form|crispy }}

                <p>Need to log in? <a href="{% url 'login' %}">Log in</a></p>
            
                <input type="submit" value="Submit" class="btn btn-md btn-success">
            </form>
        </div>
        
    </div>
</div>
{% endblock %}